body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.weather-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 8px;
}

.search-bar button {
  padding: 8px 12px;
  cursor: pointer;
}

.current-weather {
  text-align: center;
  color: black;
}

.weather-main {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.weather-main p {
  font-size: 50px;
  text-shadow: rgb(100, 100, 119) 0px 0px 10px;
}
.weather-main h1 {
  font-size: 28px;
  margin-left: 20px;
}

.weather-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 15px;
}

.forecast-list {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
  color: black;
}

.forecast-card {
  min-width: 90px;
  background: #f5f5f5;
  margin-right: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.error {
  color: red;
}
